<a href="/plants/create">Adicionar nutriente</a>

<div class="container">
  <h1>Nutrientes</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Porta</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for nutrients in nutrients %}
      <tr>
        <td>{{ nutrients.id }}</td>
        <td>{{ nutrients.name }}</td>
        <td>{{ nutrients.port }}</td>
        <td>
          <a href="/nutrients/{{ nutrients.id }}">Ver detalhes</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

